<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/output.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Login</title>
  </head>

  <body class="min-h-screen flex flex-col">
    <main class="flex flex-1 items-center justify-center">
      <div
        class="w-full max-w-7xl mx-auto grid md:grid-cols-2 items-center px-6 py-12"
      >
        <div class="text-[#112D4E]">
          <!-- TEXT LOGIN -->
          <div class="mb-10">
            <a
              href="/index.html"
              class="flex items-center gap-2 text-[#112D4E] mb-2"
            >
              <i data-feather="arrow-left"></i>
              <span class="font-semibold text-xl">Login</span>
            </a>
            <p class="text-base text-[#112D4E]">Yuk, masuk ke akunmu</p>
          </div>

          <!-- FORM LOGIN -->
          <form id="loginForm" class="bg-gray-200 rounded-3xl p-8 max-w-md shadow-lg">
            <div class="relative mb-4">
              <i data-feather="mail" class="absolute left-4 top-1/2 -translate-y-1/2 text-[#0F4C75] w-5 h-5"></i>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email..."
                class="w-full pl-12 pr-4 py-3 rounded-full border border-gray-400 outline-none shadow-inner text-[#2B2363]"
              />
            </div>

            <div class="relative mb-4">
              <i data-feather="lock" class="absolute left-4 top-1/2 -translate-y-1/2 text-[#0F4C75] w-5 h-5"></i>
              <input
                type="password"
                id="password"
                placeholder="Password..."
                class="w-full pl-12 pr-12 py-3 rounded-full border border-gray-400 outline-none shadow-inner text-[#0F4C75]"
              />
              <i data-feather="eye" onclick="password('password', this)" class="absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer text-[#0F4C75] w-5 h-5"></i>
            </div>

            <button 
              type="submit"
              onclick="validasiLogin(event)"
              class="block w-full text-center text-white bg-[#112D4E] hover:bg-[#0F4C75] py-3.5 cursor-pointer rounded-xl font-bold transition-colors duration-200 shadow-md shadow-blue-900/10"
            >
              Masuk Sekarang
            </button>
          </form>

          <!-- OPSI LOGIN LAIN -->
          <div class="mt-10 max-w-md">
            <div class="flex items-center gap-4 text-[#112D4E] text-sm">
              <div class="flex-1 h-px bg-[#112D4E] rounded-full"></div>
              <span>Or continue with</span>
              <div class="flex-1 h-px bg-[#112D4E] rounded-full"></div>
            </div>

            <div class="flex gap-4 mt-6">
              <button
                class="flex items-center justify-center gap-2 bg-white text-[#112D4E] px-4 py-2 rounded-full w-full shadow hover:-translate-y-2 hover:shadow-xl transition duration-300 cursor-pointer"
              >
                <img src="../asset/google.jpg" class="w-7" alt="Google" />
                Google
              </button>

              <button
                class="flex items-center justify-center gap-2 bg-white text-[#112D4E] px-4 py-2 rounded-full w-full shadow hover:-translate-y-2 hover:shadow-xl transition duration-300 cursor-pointer"
              >
                <img
                  src="../asset/whatsapp.jpg"
                  class="w-5 rounded-sm"
                  alt="WhatsApp"
                />
                WhatsApp
              </button>
            </div>
          </div>

          <!-- BUAT AKUN -->
          <div class="mt-6 max-w-md text-center text-sm text-[#112D4E]">
            <span>Belum punya akun? </span>
            <a href="daftar.html" class="text-blue-400 hover:underline">
              Buat Akun
            </a>
          </div>
        </div>

        <!-- FOTO -->
        <div
          class="hidden md:flex justify-center items-center border-l-2 border-[#112D4E] pl-12"
        >
          <img
            src="../asset/login.png"
            class="w-87.5"
            alt="Login Illustration"
          />
        </div>
      </div>
    </main>

    <script>
      feather.replace();
    </script>
    <script src="../script/auth.js"></script>
  </body>
</html>
